@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
